<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">GoldDigger</a>
  <button class="navbar-toggler collapsed" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="titleName=='scrape'?'active':''">
        <a class="nav-link" (click)="closeMenu('scrape')" [routerLink]="['/dashboard/scrap']">Scrape</a>
      </li>
      <li class="nav-item" [ngClass]="titleName=='details'?'active':''">
        <a class="nav-link" (click)="closeMenu('details')" [routerLink]="['/dashboard/details']">Translations</a>
      </li>
    </ul>
    <div>
      <div class="row">
        <div class="hide-on-sm">
          <div style="color: white;margin: 8px 15px 0px 0px;" class=""> Hello Admin
            <fa name="user" ng-reflect-name="user"> 
              <i aria-hidden="true" class="fa fa-user" ng-reflect-klass="fa fa-user" ng-reflect-ng-class=""></i>
            </fa>
          </div>
        </div>
        <div class="">
          <button (click)="logOut()" class="btn btn-outline-light float-sm-right my-2 my-sm-0" style="margin-right:15px" type="submit">Logout</button>
        </div>
        <div></div>
      </div>
    </div>

  </div>
</nav>
<div style="margin-top: 50px;"></div>
<router-outlet></router-outlet>