<div class="container">
  <div class="row">
    <div class="mx-auto col-md-4 col-md-offset-4" id="login_block">
      <p class="text-center" id="login_title">SIGN IN TO CONTINUE.</p>
      <div class="alert alert-danger" *ngIf="loginFailed">Please provide valid credentials</div>
      <div class="form-group has-feedback">
        <input type="email" name="email" (change)="checkErrors()" [(ngModel)]="email" class="form-control" placeholder="Enter email" [ngClass]="{'form-input-error':emailErr!=''}">
        <p class="form-msg-error">{{emailErr}}</p>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" (change)="checkErrors()" (keyup.enter)="authenticate()" [(ngModel)]="password" class="form-control" placeholder="Password" [ngClass]="{'form-input-error':passwordErr!=''}">
        <p class="form-msg-error">{{passwordErr}}</p>
      </div>
      <button type="submit" class="btn btn-block btn-primary" (click)="authenticate()">Login</button>
      <div class="text-center" style="margin-top: 20px;">
        <span>© 2018 - GoldDigger</span>
      </div>
    </div>
  </div>


</div>